<footer>
    <div class="iconos-footer">
        <section>
            <i class="fas fa-credit-card"></i>
            <h5>Pag&aacute; con tarjeta o en efectivo</h5>
            <p>Con MercadoLiebreCash ten&eacute;s cuotas sin inter&eacute;s con tarjeta o efectivo en puntos de pago. 	&iexcl;Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h5>Env&iacute;o gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre ten&eacute;s env&iacute;os gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad de principio a fin</h5>
            <p>	&iquest;No te gusta? &iexcl;Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque est&aacute;s siempre protegid@.</p>
        </section>
    </div>
    <p class="copy">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
</footer>