<header>
    <div class="big">
        <div class="first">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </a>
            </div>
            <div class="buscador">
                <form method="get" action="">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        
        <p class="compra">
            <i class="fas fa-hand-holding-usd"></i>
            Sistema de Administracion de Productos
        </p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="" alt="Ofertas del sitio">
                    Productos
                </a>
            </li>
            <li>
                <a href="products/new" alt="Tiendas oficiales">
                    Nuevo
                </a>
            </li>
            <li>
                <a href="" alt="Ayuda del sitio">
                    Ayuda
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="register.html" alt="Crea tu cuenta en nuestro sitio">
                    Cre&aacute; tu cuenta <i class="far fa-id-card"></i>
                </a>
            </li>
            <li>
                <a href="login.html" alt="Ingresa al sitio">
                    Ingres&aacute; <i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>