<header>
    <div class="big">
        <div class="first">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </a>
            </div>
            <div class="buscador">
                <form method="get" action="">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        
        <p class="compra">
            <i class="fas fa-hand-holding-usd"></i>
            Compr&aacute; en cuotas y sin tarjeta de cr&eacute;dito
        </p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="ofertas.html" alt="Ofertas del sitio">
                    Ofertas
                </a>
            </li>
            <li>
                <a href="tiendas-oficiales.html" alt="Tiendas oficiales">
                    Tiendas Oficiales
                </a>
            </li>
            <li>
                <a href="vender.html" alt="Vende en nuestro sitio">
                    Vender
                </a>
            </li>
            <li>
                <a href="ayuda.html" alt="Ayuda del sitio">
                    Ayuda
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="register.html" alt="Crea tu cuenta en nuestro sitio">
                    Cre&aacute; tu cuenta <i class="far fa-id-card"></i>
                </a>
            </li>
            <li>
                <a href="login.html" alt="Ingresa al sitio">
                    Ingres&aacute; <i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
            <li>
                <a href="mis-compras.html" alt="Chequea tus compras">
                    Mis compras <i class="fas fa-shopping-basket"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>