<!DOCTYPE html>
<html>
	<%- include('partials/head') %>
	
	<body id="detalle-prod">
		<%- include('partials/header') %>
	
		<main>
			<section class="producto">
                <div class="imagen">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                </div>
				<div class="detalle">
                    <h1>Cafetera Moulinex</h1>
                    <p class="descripcion">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nunc, auctor non ipsum id, mattis bibendum lacus. Donec a leo nec orci accumsan lacinia.
                    </p>
                    <p class="descuento">40% off</p>
                    <p class="precio">$6.770</p>

                    <form action="" method="GET">
                        <button>Editar</button>
                        <button>Borrar</button>
                    </form>
                </div>
                
			</section>
		</main>

		<%- include('partials/footer') %>
	</body>
</html>