<!DOCTYPE html>
<html>
	<%- include('partials/head') %>
	
	<body>
		<%- include('partials/header') %>
		<img src="/images/img-home-banner.jpg" alt="Bienvenidos a Mercado Liebre" width="100%">

		<main>
			<h2 class="title">Basado en tu &uacute;ltima visita</h2>
			<section>
				<article>
					<img src="/images/img-cafetera-moulinex.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuento">40% off</p>
						<h4 class="descripcion">Cafetera Moulinex</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-macbook-pro-2019.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuento">20% off</p>
						<h4 class="descripcion">MacBook Pro 2019</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuento">10% off</p>
						<h4 class="descripcion">Samsung Galaxy S10</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-tv-samsung-smart.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$23.300</p>
						<p class="descuento">5% off</p>
						<h4 class="descripcion">SmartTv Samsung 43"</h4>
					</div>
				</article>
			</section>

			<h2 class="title">Ofertas</h2>
			<section>
				<article>
					<img src="/images/img-cafetera-moulinex.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuento">40% off</p>
						<h4 class="descripcion">Cafetera Moulinex</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-macbook-pro-2019.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuento">20% off</p>
						<h4 class="descripcion">MacBook Pro 2019</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuento">10% off</p>
						<h4 class="descripcion">Samsung Galaxy S10</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-tv-samsung-smart.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$23.300</p>
						<p class="descuento">5% off</p>
						<h4 class="descripcion">SmartTv Samsung 43"</h4>
					</div>
				</article>
			</section>
		</main>

		<%- include('partials/footer') %>
	</body>
</html>